
@{
    ViewBag.Title = "Diger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" style="background-color:white;padding-top:15px;margin-top:15px">
    <main id="main" class="main-box main-box-single">
        <article id="post-44" class="vce-page post-44 page type-page status-publish hentry">
            <header class="entry-header">
                <h1 class="entry-title entry-title-page">DİĞER BİLGİLER</h1>
            </header>
            <hr />
            <div class="row col-md-12">

                <h1 style="text-align: left;">
                    <a target="_blank" href="https://github.com/azizkorkmaz/MvcBlog">Projenin Kaynak Kodları</a>
                </h1>
            </div>
            <br />
            <div class="col-md-12">

            </div>

        </article>

    </main>

</div>

