
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12" style="background-color:white;padding-top:15px;margin-top:15px;margin-bottom:15px">
    <main id="main" class="main-box main-box-single">
        <article id="post-9" class="vce-page post-9 page type-page status-publish hentry">
            <header class="entry-header">
                <h1 class="entry-title entry-title-page">HAKKIMDA</h1>
            </header>
            <hr />
            <div class="entry-content page-content" style="font-stretch:normal;font-size:larger;text-align:justify; padding:15px">
               <h4>Okuyan herkese merhabalar. </h4>
                <p>Ben Abdulaziz KORKMAZ. Kendimden kısaca bahsedeyim sizlere. Bilgisayarı, yazılımı, yeni teknolojileri seven takip eden çabuk öğrenen biriyim. Analitik düşünce yanım güçlü, güçlü insan ilişkilerine sahibim. Dünyada ki ve toplumda ki değişim ve gelişimi merak eden, araştıran, okuyan biriyim. Kendimi daha fazla övmeyeyim:) yanlış anlaşılmalara mahal vermeyelim:).</p>
                <h2><span class="su-highlight">&nbsp;Çocukluğum ve ilk gençliğim; bir de eğitim hayatım&nbsp;</span></h2>
                <p>Birazda yaşadıklarımdan yazayım. Kronolojik bir şekilde anlatmak istemediğim için düz bir metin şeklinde yazmak daha hoşuma gitti. (Başka nasıl yazılır ki zaten:)).</p>
                <p>İlk okul, orta okul yaşlarında çok hareketli bir çocuktum. Bütün gün okul ve sokakta geçerdi. Mahalleler arası futbol turnuvaları düzenlerdik. Bende mahallenin vazgeçilmez oyuncusuydum:). Lise dahil hep okul futbol ve halk oyunları takımlarındaydım. Çok güzel bir çocukluk ve genliğin ilk yıllarını yaşadım ve o günleri hep özlerim... </p>
                <p>Üniversiteye kadar çoğu insanın yaptığı gibi bende ailemin yanında, memleketim olan Diyarbakır’ın Hani ilçesinde okudum ve yaşadım. Lise hayatı boyunca çalışkandım (tabi ki ilk ve orta okulda da çalışkandım), çok kitap okuyup çok tartışırdım hocalarda özellikle felsefe ve toplum yapısı özerine.</p>
                <p>Bu konulardaki heves ve isteklerimi gören hocalarımın hoşuna giderdi, beni sosyal bilimlerden bir bölüm seçip kariyerimi ona göre şekillendirmemi isterlerdi. Ama tam tersi ben matematik ve fiziği sevdiğim için sayısal bölümünü seçtim.</p>
                <p>2008 yılında Bilecik Şeyh Edebali Üniversitesi Bilgisayar Mühendisliği kazandım. Böylece aileden uzakta bir hayat kurmaya başladım. Başta bilgisayarı seviyor olmama rağmen bölümü sevememiştim, çok sıkıcı geçti ilk iki yıl. Daha sonra bölümü de sevmeye başladım ve okul bittiği zaman çok üzülmüştüm.</p>
                <p>Okul bittikten sonra iş hayatım pek iyi başlamadı. İş görüşmelerinde herkes tecrübe istiyordu ağızbirliği yapmışçasına düşük maaş öneriyorlardı. Bir iki yerde iş denemesi yaptıysam da pek iyi geçmedi. </p>
                <p>Daha sonra askerliği yapma kararı aldım ve askere gittim. Hayatımda ki bu 6 aylık süreç çok önemli bir yere sahip olacak hep. Kesinlikle bana çok şey öğretti hayat adına bu süreç.</p>
                <p>Şimdilerde kendimi yazılım geliştirme konusunda çalışmalar yapıyorum. Çeşitli kurs ve seminerlere katılıyorum. Yeni teknolojileri takip edip öğrenmeye çalışıyorum.</p>
                <p>Biraz uzun oldu sanki. Daha yazılacak, anlatılacak çak şey var aslında. İleride onları da paylaşırım sizlerle farklı makalelerde.</p>
            </div>
        </article>
    </main>
    <div class="col-md-12">
        <hr />
        <a href="/Home/Index/"><p style="font-family:'Brush Script MT'; font-size:x-large
    ; text-align:right">Abdulaziz KORKMAZ</p></a>
    </div>
</div>