
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12" style="background-color:white;padding-top:15px;margin-top:15px; border-radius:5px">
    <main id="main" class="main-box main-box-single">
        <article id="post-44" class="vce-page post-44 page type-page status-publish hentry">
            <header class="entry-header">
                <h1 class="entry-title entry-title-page">İLETİŞİM</h1>
            </header>
            <hr />
            <br />
            <div class="entry-content page-content col-md-12">
                <h1 style="text-align: center;">
                    <span class="su-highlight" style="background:#000000;color:#ffffff;text-align:center">&nbsp;a.azizkorkmaz@gmail.com&nbsp;</span>
                </h1>
               
            </div>
            <div class="col-md-12">
                <h1 style="text-align: center;">
                    <span> adresinden mail gönderebilirsiniz.</span>
                    
                </h1>
                <br />
            </div>
            
        </article>
        
    </main>

</div>
