
@{
    ViewBag.Title = "Projeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" style="background-color:white;padding-top:15px;margin-top:15px; padding-left:25px; border-radius:5px">
    <main id="main" class="main-box main-box-single">
        <article id="post-44" class="vce-page post-44 page type-page status-publish hentry">
            <header class="entry-header">
                <h1 class="entry-title entry-title-page">PROJELER</h1>
            </header>
            <hr />
            <div class="row col-md-12">
                <h2 style="text-align: left;">MVC Blog Projesi</h2>
                <h4 style="text-align: left; padding-bottom:10px">
                    <a target="_blank" href="https://github.com/azizkorkmaz/MvcBlog">Projenin Kaynak Kodları <a href="https://github.com/azizkorkmaz" target="_blank"><img src="~/Uploads/Hakkımda/GitHub.png" width="25"/></a></a>
                </h4>
            </div>
        </article>
    </main>
</div>

