@model IEnumerable<MvcBlog.Models.Yorum>
@{ 
    Layout = null;
}
<h3>Son Yapılan Yorumlar</h3>
<div class="row">
    <div class="col-lg-12">
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Icerik</li>
            }
        </ul>
    </div>
</div>